<!doctype html>
<html lang="en">
<head>
  <title>Contact Form 06</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

 

</head>
<body>
  <section style="position: relative; right:90px ; bottom:20px" class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">

      </div>
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="wrapper">
            <div class="row no-gutters mb-5">
              <div class="col-md-7">
                <div class="contact-wrap w-100 p-md-5 p-4">
                  <h3 class="mb-4">Ajouter un utilisateur</h3>
                  <div id="form-message-warning" class="mb-4"></div>

                  <form  [formGroup]="addUserForm" id="contactForm" name="contactForm" class="contactForm">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="label" for="name">Nom de l'utilisateur</label>
                          <input formControlName="nom" type="text" class="form-control" name="name" id="name" placeholder="Nom ">
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="label" for="prenom">Prénom de l'utilisateur</label>
                          <input formControlName="prénom" type="text" class="form-control" name="prenom" id="prenom" placeholder="Prénom">
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="label" for="email">Email de l'utilisateur</label>
                          <input formControlName="adrMail" type="text" class="form-control" name="email" id="adrMail" placeholder="Email">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="label" for="ecole">Role </label>
                          <select class="form-control" id="role" formControlName="role" >
                            <option value="Etudiant">Etudiant</option>
                            <option value="Professeur">Professeur</option>
                           
                          </select>
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="label" for="num_tel">Numéro de téléphone</label>
                          <input formControlName="numTel" type="number" class="form-control" name="num_tel" id="numTel" placeholder="Numéro de téléphone">
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="label" for="age">Mot de passe </label>
                          <input formControlName="password" type="text" class="form-control" name="age" id="motDePasse" placeholder="Mot de passe">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="label" for="age">Matière</label>
                          <input formControlName="matiere" type="text" class="form-control" name="age" id="matiere" placeholder="Matière">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="classes">Classes</label>
                        <select class="form-control" id="classes" formControlName="classes" multiple>
                            <option *ngFor="let class of classes" [value]="class">{{ class.nom }}</option>
                          </select>
                      </div>
                      <br>
                    
                   

                      <div class="col-md-12">
                        <div style="position: relative;top:30px;left:250px" class="form-group">
                          <button href="/home"  type="submit"  class="btn btn-primary btn-block"  style="background-color: #1A4B93 ;  border: none" (click)="onSubmit1()" >Ajouter l'utilisateur </button>
                          <div class="submitting"></div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-md-5 d-flex align-items-stretch">
                <div id="map">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.validate.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>
</body>
</html>