<div id="warp">
    Monotone Admin Login CSS
      <form [formGroup]="loginForm" action="" id="formu">
            <div class="admin">
                      <div class="rota">
                            <h1>ENICAR</h1>
                            <input formControlName="email" id="adrMail" type="text" name="name" value="" placeholder="Adresse Mail"/><br />
                            <input formControlName="password" id="password" type="password" name="pass" value="" placeholder="Mot de passe"/>
                      </div>
                </div>
                <div class="cms">
                      <div class="roti">
                            <h1>THAGE</h1>
                            <button id="valid" type="button" name="valid" (click)="onSubmit()">Valider</button><br />
                            <p><p><a href="mailto:enicarthage@enicarthage.rnu.tn">Mot de passe oublié</a> </p>
                            <p><p><a href="">Page d'acceuil</a> </p>
          </div>
                </div>
                
          </form>
    </div>