
<app-nav-bar></app-nav-bar>

<br>
<button style="background-color:midnightblue" class="buttonn" style="position:relative;left:1050px;top:-310px" ><B>login</B></button>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="icon-bar">
    <a href="https://www.facebook.com/Ecole-Nationale-dIngénieurs-de-Carthage-ENICarthage-532762086862252" class="facebook"><i class="fa fa-facebook"></i></a> 
    <a href="https://twitter.com/ENI_Carthage" class="twitter"><i class="fa fa-twitter"></i></a> 
    <a href="https://www.google.com/search?client=opera-gx&q=enicarthage&sourceid=opera&ie=UTF-8&oe=UTF-8" class="google"><i class="fa fa-google"></i></a> 
    <a href="https://www.linkedin.com/school/ecole-nationale-d’ingénieurs-de-carthage-enicarthage/" class="linkedin"><i class="fa fa-linkedin"></i></a>
    <a href="https://www.youtube.com/@enicarthageofficielle422/featured" class="youtube"><i class="fa fa-youtube"></i></a> 
  </div>
<div>
    <section id="APROPOS" class="container">
        <h2>
           <B> L'Ecole Nationale d’Ingénieurs de Carthage
(ENICarthage)</B>
        </h2>
        <p class="parag"><B>L'Ecole Nationale d’Ingénieurs de Carthage (ENICarthage)</B> est un établissement d’enseignement supérieur publique, relevant de l'Université de Carthage, créé (décret n° 2002-1623 du 9 juillet 2002), en tant que Ecole Supérieure de Technologie et d’Informatique (ESTI), en 2002 et transformé en école nationale d’ingénieurs recrutant ses élèves à partir du concours national d’ingénieurs à partir de septembre 2012 (décret n° 2014-4677 du 29 décembre 2014).</p>
<br>
        <p class="parag">
            Etant habilitée à délivrer des diplômes de Maîtrise depuis 2002 et ayant intégré le système LMD depuis la rentrée 2007, Cette école a offert plusieurs formations spécialisées dans les domaines du Génie Electrique, de l’Informatique et de la Gestion Industrielle, parmi lesquelles des formations d’ingénieurs en sciences appliquées et Technologie.</p>
            
            <div class="img">
            <img src="http://www.enicarthage.rnu.tn/assets/images/apropos1.jpg">
            </div>
    </section>
   
    <section id="FORMATIONS">
        <div class="img1">
            <img src="http://www.enicarthage.rnu.tn/bundles/mdwebfront/images/propos2.jpg">
        </div>
        <h2 class="right">
           <B>Les Formations</B>
        </h2>
        <p class="paragright"><B>Depuis septembre 2012</B>, l’ENICarthage offre quatre formations d’Ingénieur National en :</p>
        <h5 class="paragright"><B>Génie Informatique</B></h5>
        <p class="paragright">Environ 120 élèves ingénieurs /promotion</p>
        <hr class="paragright"/>
        <h5 class="paragright"><B>Génie Mécatronique</B></h5>
        <p class="paragright">Environ 100 élèves ingénieurs /promotion</p>
        <hr class="paragright"/>
        <h5 class="paragright"><B>Génie Infotronique</B></h5>
        <p class="paragright">Environ 60 élèves ingénieurs /promotion</p>
        <hr class="paragright"/>
        <h5 class="paragright"><B>Génie des Systèmes Industriels et Logistiques</B></h5>
        <p class="paragright">Environ 60 élèves ingénieurs /promotion</p>

    </section>
    <div class="dip">
    <section  class="container">
        <br>
        <p >Elle est, également, habilitée à délivrer les diplômes de :</p>
        <h5 style="color:midnightblue"><B>Doctorat en Génie Electrique</B></h5>
        <hr style="width:700px"/>
        <h5 style="color:midnightblue"><B>Mastère Recherche en Automatique, Robotique et Traitement de l’Information</B></h5>
        <hr style="width:700px"/>
        <h5 style="color:midnightblue"><B>Mastère Recherche en Technologies de l’Information et de la Communication</B></h5>
        <hr style="width:700px"/>
        <h5 style="color:midnightblue"><B>Mastère Professionnel en Commande et Supervision des Systèmes Industriels</B></h5>
        <hr style="width:700px"/>
        <h5 style="color:midnightblue"><B>Mastère Professionnel en Ingénierie des Systèmes Informatiques</B></h5>
        <hr style="width:700px"/>
        <h5 style="color:midnightblue"><B>Mastère Professionnel en Management des systèmes Industriels</B></h5>
        <hr style="width:700px"/>
        <div class="img2">
            <img src="http://www.enicarthage.rnu.tn/bundles/mdwebfront/images/propos3.jpg">
            </div>
    </section>
    </div>
    <div class="container">
        <section id="ACTUALITES">
        <section class="act1">
            
            <h2><B>A LA UNE</B></h2>
            <br>
            <div>
                <img style="max-width: 25%;height: 250px;" src="http://www.enicarthage.rnu.tn/uploads/actualite/cropped/33f3f6c5b5102cbc71fddb816b4fd3baf644155d.png">
                <h5><B>ACTUALITE 1</B></h5>
                <img style="position:relative;left:350px;top:-200px" src="http://www.enicarthage.rnu.tn/assets/images/ico.png">
                <p style="position:relative;left:370px;top:-222px">publié le .......</p>
                <br>
                <p style="position:relative;left:350px;top:-222px">   Les cours seront répartis comme suit: 8h30-9h45 Séance 1 9h55-11h10<br> Séance 2 11h20-12h35 Séance 3 12h45-14h00 Séance 4 14h10-15h25<br> Séance 5  </p>
                <div >
                <button class="buttonn" style="position:relative;left:1050px;top:-310px" ><B>PLUS DE DETAILS</B></button>
                    
            
            </div>
            <hr style="position:relative;top:-220px"/>
            </div>
            
        </section>
        <section  class="act2">
            <div>
                <img style="max-width: 25%;height: 250px;" src="http://www.enicarthage.rnu.tn/uploads/actualite/cropped/7f576807f89386ed2611351a611afa4f2cc6d784.png">
                <h5><B>ACTUALITE 2</B></h5>
                <img style="position:relative;left:350px;top:-200px" src="http://www.enicarthage.rnu.tn/assets/images/ico.png">
                <p style="position:relative;left:370px;top:-222px">publié le .......</p>
                <br>
                <p style="position:relative;left:350px;top:-222px">   Les cours seront répartis comme suit: 8h30-9h45 Séance 1 9h55-11h10<br> Séance 2 11h20-12h35 Séance 3 12h45-14h00 Séance 4 14h10-15h25<br> Séance 5  </p>
                <div >
                <button class="buttonn" style="position:relative;left:1050px;top:-310px" ><B>PLUS DE DETAILS</B></button>
                    
            
            </div>
            <hr style="position:relative;top:-220px"/>
            </div>


        </section>
        <section class="act3">
            <div>
                <img style="max-width: 25%;height: 250px;" src="http://www.enicarthage.rnu.tn/uploads/actualite/cropped/fa54b41e50ea918a2153ef11993f1e1e7b2fec18.jpg">
                <h5><B>ACTUALITE 2</B></h5>
                <img style="position:relative;left:350px;top:-200px" src="http://www.enicarthage.rnu.tn/assets/images/ico.png">
                <p style="position:relative;left:370px;top:-222px">publié le .......</p>
                <br>
                <p style="position:relative;left:350px;top:-222px">   Les cours seront répartis comme suit: 8h30-9h45 Séance 1 9h55-11h10<br> Séance 2 11h20-12h35 Séance 3 12h45-14h00 Séance 4 14h10-15h25<br> Séance 5  </p>
                <div >
                <button class="buttonn" style="position:relative;left:1050px;top:-310px" ><B>PLUS DE DETAILS</B></button>
                    
            
            </div>
           <a style="position:relative;left:1100px;top:-130px;color: midnightblue;font-size: 25px;" href="#"><B>Plus d'actualités</B></a>
           <hr style="position:relative;top:-120px"/>
            </div>
            

        </section>
        </section>

    </div>
    <div class="container">
        <section id="PARTENAIRES">
        <div class="part">
            
            
        <h2><B>NOS PARTENAIRES</B></h2>
        <div class="l1"></div>
        <div class="l2"></div>
        <img style="position:relative;top:-1000px;left:50px" src="http://www.enicarthage.rnu.tn/uploads/partenaire/cropped/7b3d1d0c579522df79c73925f5ee39a6935a0584.jpg">
        <img style="position:relative;top:-1000px;left:350px" src="http://www.enicarthage.rnu.tn/uploads/partenaire/cropped/c7f5bcb9e97167613fe39e45bc5051fc8d8d9e47.jpg">
        <img style="position:relative;top:-1000px;left:650px" src="http://www.enicarthage.rnu.tn/uploads/partenaire/cropped/a96abb7830b9f24c791f4e58965eaf104b5e12bc.jpg">
        <hr style="position:relative;top:-1000px"/>
        <img style="position:relative;top:-1000px;left:50px" src="http://www.enicarthage.rnu.tn/uploads/partenaire/cropped/efabd3a96d69dec1411e0ce46cbe40ff5291ac89.jpg">
        <img style="position:relative;top:-1000px;left:350px" src="http://www.enicarthage.rnu.tn/uploads/partenaire/cropped/45aeaa1e639a7646fa49b7316f6c38e7f561aa98.jpg">
        <img style="position:relative;top:-1000px;left:650px" src="http://www.enicarthage.rnu.tn/uploads/partenaire/cropped/77371d4962181a4ff04cdb34aee9ccfc158ef5ab.jpg">
        <hr style="position:relative;top:-1000px"/>
        <img style="position:relative;top:-1000px;left:50px" src="http://www.enicarthage.rnu.tn/uploads/partenaire/cropped/b49ec8f46d431220ca8c105b4e47598a286e70ed.jpg">
        <img style="position:relative;top:-1000px;left:350px" src="http://www.enicarthage.rnu.tn/uploads/partenaire/cropped/4188e83cb37573a28d7f50e9a1c9e0022a6736c6.jpg">
        <img style="position:relative;top:-1000px;left:650px" src="http://www.enicarthage.rnu.tn/uploads/partenaire/cropped/4650d9e333eb912dfdfa08324cba17d85ce4d30d.jpg">
        <hr style="position:relative;top:-1000px"/>
        <img style="position:relative;top:-1000px;left:50px" src="http://www.enicarthage.rnu.tn/uploads/partenaire/cropped/40c6626346f1932ae3b63d03331b436e8dee8f8c.jpg">
        <img style="position:relative;top:-1000px;left:350px" src="http://www.enicarthage.rnu.tn/uploads/partenaire/cropped/be63021d7fe5d4887634b1abb72db0d1471f48da.jpg">
        <img style="position:relative;top:-1000px;left:650px" src="http://www.enicarthage.rnu.tn/uploads/partenaire/cropped/533e8a071cfcd2fec7690b17657d998b48a2edb0.jpg">
        <hr style="position:relative;top:-1000px"/>
        <div style="top:-1515px" class="l1"></div>
        <div style="top:-2015px" class="l2"></div>
       

    </div>
</section>
</div>
<section id="CONTACT">
<footer>
    <br>
    <div class="container">
        <h3><B>CONTACT</B></h3>
        <br>
        <img style="max-width:2%" src="https://png.pngtree.com/png-vector/20210212/ourmid/pngtree-location-icon-png-image_2912241.jpg">
        <p style="position:relative;bottom:25px;left:35px">45 Rue des Entrepreneurs 2035 Charguia II Tunis- Carthage-Tunisie</p>
        <img style="max-width:2%" src="https://cdn-icons-png.flaticon.com/512/126/126103.png">
        <p style="position:relative;bottom:25px;left:35px"> TEL: (+216)71 941 579 / (+216)71 940 699</p>
        <img style="max-width:2%" src="https://previews.123rf.com/images/rrraven/rrraven1411/rrraven141100254/33993136-icône-de-téléphone.jpg">
        <p style="position:relative;bottom:25px;left:35px"> ( +216 ) 71 941 579</p>
        <img style="max-width:2%" src="https://e7.pngegg.com/pngimages/328/274/png-clipart-email-computer-icons-bounce-address-email-miscellaneous-angle-thumbnail.png">
        <p style="position:relative;bottom:25px;left:35px"> enicarthage@enicarthage.rnu.tn</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3953.204586820823!2d10.21128447097274!3d36.85244159909435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd34d69e694547%3A0xe1e0376f3637688f!2s%C3%89cole%20Nationale%20d&#39;Ing%C3%A9nieurs%20de%20Carthage!5e0!3m2!1sfr!2stn!4v1680123095224!5m2!1sfr!2stn" width="600" height="450"   style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  
  </footer>
</section>
   
  